@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb-a: #2f2027;
  --background-rgb-b: #141517;
  --background-rgb-c: #060b04;
  --background-rgb-d: #0a1e3a;
  --background-base: #181818;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb-a: #c3dfc2;
  --background-rgb-b: #f5f7fa;
  --background-rgb-c: #f5f7fa;
  --background-rgb-d: #aebece;
  --background-base: #cccccc;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-base);
  background-size: 100% 100%;
  height: 100vh;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}
