@tailwind base;
@tailwind components;
@tailwind utilities;

:root.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb-a: #2f2027;
  --background-rgb-b: #141517;
  --background-rgb-c: #060b04;
  --background-rgb-d: #0a1e3a;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb-a: #c3dfc2;
  --background-rgb-b: #f5f7fa;
  --background-rgb-c: #f5f7fa;
  --background-rgb-d: #aebece;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    -45deg,
    var(--background-rgb-a),
    var(--background-rgb-b),
    var(--background-rgb-c),
    var(--background-rgb-d)
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
